:root{
    --navbar-height:59px;

}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#logo img{
    height:59px;
    margin: 3px 6px;
}

ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 0.8rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 15px;
    border-radius:10px;
    text-decoration: none;
}

#home{
    background-color:#383e45;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items:center;
    font: size 15px;
}


#content{
    display: grid;
    margin-top:500px;
    grid-template-columns: 33.3%  33.3% 33.3% 33.3%  33.3%;
    max-width: 860px;
    margin: 1px;
}
#content div{
    
    background: #f4fafa;
    height: 100px;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 5px;
    border: 1px rgb(100, 97, 97);
    align-items:center;
    justify-content: center;
    
}
 content:hover{
     background-color:blue;
 }
 .tools-item{
     display: flex;
     flex:0 0 33.333%;
     font-size: 36px;
     line-height:38px ;
     flex: 0 0 16.666%;
    color: #383e45;
    
 }
 .tools_item_content{
     display: flex;
     font-size: 10px ;
 }